<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <title>Transaction</title>
</head>
<body style="text-align: center">
<h1>Enter the BLIK code</h1>
<form class="form-horizontal" action="#" th:action="@{/response}" method="post"
      style="display: inline-block;width: 50%;">
    <div th:each="entry : ${entries}" class="form-group">
        <label th:for="${entry.key}" class="col-sm-2 control-label" th:text="${entry.key}"></label>
        <div class="col-sm-10">
            <input class="form-control" th:name="${entry.key}"
                   th:id="${entry.key}" th:value="${entry.value}" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label for="Code" class="col-sm-2 control-label">BLIK Code</label>
        <div class="col-sm-10">
            <input class="form-control" name="Code" id="Code"/>
        </div>
    </div>
    <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="responseType1" name="responseType" class="custom-control-input"
                   value="REST">
            <label class="custom-control-label" for="responseType1">REST Response</label>
            <input type="radio" id="responseType2" name="responseType" class="custom-control-input"
                   value="SOAP">
            <label class="custom-control-label" for="responseType2">SOAP response</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-success" style="width:100%;">Submit</button>
        </div>
    </div>
</form>
</body>
</html>